<mat-form-field>
	<input matInput placeholder="Search User by Login" [matAutocomplete]="auto" [formControl]="searchLogin">
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	  <ng-container>
		<mat-option *ngFor="let login of allUsers" [value]="login" (click)="toggleSelection(user.login)">
		  {{ user.login }}
		</mat-option>
	  </ng-container>
	</mat-autocomplete>
  </mat-form-field>
  
  <mat-chip-set *ngIf="selectedLogins.length > 0">
	<mat-chip *ngFor="let login of selectedLogins" (removed)="toggleSelection(user.login)" >
	  {{ user.login }}
	  <mat-icon matChipRemove>cancel</mat-icon>
	</mat-chip>
  </mat-chip-set>
  
  <!-- <button mat-button type="button" [disabled]="selectedLogins.length === 0" (click)="addUserToRoom()">Add User to Room</button> -->
  

<!-- <mat-form-field>
	<input matInput placeholder="Search User by Login" [matAutocomplete]="auto" [formControl]="searchLogin">
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setSelectedUser($event.option.value)">
		<ng-container>
			<mat-option *ngFor="let user of filteredUsers" [value]="user">
				<span>{{user.login}}</span>
				<small>| ID: {{user.id}}</small>
			</mat-option>
		</ng-container>
	</mat-autocomplete>
</mat-form-field>
<button mat-button type="button" [disabled]="!selectedUser" (click)="addUserToForm()">Add User</button>

<mat-chip-set *ngIf="users && users.length > 0; else no_users">
	<mat-chip *ngFor="let user of users" (removed)="removeUserFromForm(user)">
		{{user.login}}
		<mat-icon matChipRemove>cancel</mat-icon>
	</mat-chip>
</mat-chip-set>

<ng-template #no_users>
	<mat-error>No Users added so far</mat-error>
</ng-template> -->