<div class="flex items-center h-screen justify-start bg-gradient-to-r from-cyan-600 to-blue-500">

	<a href="/signup/" >
		<div class="ms-8 box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
			<a class="px-4">Sign up</a>
		</div>
	</a>
	<a href="/signin/" >
		<div class="box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
			<a class="">Sign in</a>
		</div>
	</a>
	<a href="/home/" >
		<div class="me-8 box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
			<a class="px-4">Log in with 42</a>
		</div>
	</a>

</div>