
<div class="bg-gradient-to-r from-cyan-600 to-blue-500 mx-auto py-20">
	<div class="items-center justify-center text-[150px] h-28 font-fett flex tracking-wide text-gray-800 ">
		WELCOME
	</div>
	<div class="flex items-center h-screen justify-between ">

		<a href="/signup/" >
			<div class=" items-center justify-center ms-8 box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
				<a class="px-4 text-[26px]">Sign up</a>
			</div>
		</a>
		<a href="/signin/" >
			<div class="items-center justify-center box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
				<a class="text-[26px]">Sign in</a>
			</div>
		</a>
		<a href="http://localhost:3333/auth/42auth" >
			<div class=" items-center justify-center me-8 box-border w-44 h-44 bg-blue-600 py-5 px-4 flex space-y-2 cursor-pointer rounded-md hover:bg-[#2555C2] shadow  font-serif" >
				<a class=" text-[26px] ">Log in with 42</a>
			</div>
		</a>
	</div>

</div>