<app-headerbar></app-headerbar>
<app-friendlist></app-friendlist>
<main class ="grid place-items-center h-screen w-5/6 bg-gradient-to-r from-[#1187BF] to-[#2052F1] flex-row">
	<app-profile-picture login={{login}}></app-profile-picture>
	<div class="space-y-20">
		<section class=" text-9xl h-28 font-fett flex tracking-wide text-gray-800">
			PONG
		</section>
		<section class="grid place-items-center">
			<button class=" bg-blue-300 px-16 py-10  transition ease-in duration-200 uppercase rounded-full hover:bg-gray-700 hover:text-white border-2 border-gray-500 focus:outline-none">
				Play
			</button>	
			
		</section>
	</div>
	<div></div>
	<div></div>
	<div></div>
	
</main >