home works!
<section class ="min-h-full">
		<a>
			<img class="mx-auto object-cover rounded-full h-20 w-20 " alt="avatar" src="https://bellard.org/bpg/2.png"/>
		</a>
</section>
<section class="flex justify-center items-center">J'adore la vie</section>
<header class=" text-9xl h-28 font-fett flex justify-center items-center">
		PONG
</header>
<section class="h-36 flex justify-center items-center">
	<button class=" bg-blue-300 px-16 py-10  transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-500 focus:outline-none">
   		 Play
	</button>
</section> 