<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<mat-card *ngIf="user?.login !== current_user?.login">
	<mat-list>
		<mat-list-item><strong>{{ user?.login }}</strong></mat-list-item>
		<mat-list-item><strong>{{ room?.name }}</strong></mat-list-item>

		<mat-list-item>
			<button mat-raised-button extended color=primary (click)="inviteToPlay()"><strong>PLAY</strong></button>
		</mat-list-item>

		<mat-list-item>
			<button mat-raised-button extended color=primary (click)="goToProfile()"><strong>profile</strong></button>
		</mat-list-item>

		<mat-list-item *ngIf="!isUserBlocked">
			<button mat-stroked-button (click)="blockUser()">Block</button>
		</mat-list-item>

		<mat-list-item *ngIf="isUserBlocked">
			<button mat-stroked-button (click)="unblockUser()">Unblock</button>
		</mat-list-item>

		<mat-list-item *ngIf="isCurrentCreator && adminUser">
			<button mat-stroked-button color=warn (click)="unsetAsAdmin()">Unset as admin</button>
		</mat-list-item>

		<mat-list-item *ngIf="adminCurrent && !adminUser">
			<button mat-stroked-button color=warn (click)="setAsAdmin()">Set as admin</button>
		</mat-list-item>

		<mat-list-item *ngIf="adminCurrent && !isUserCreator && !isUserMuted">
			<button mat-stroked-button color=warn (click)="muteUser()">Mute</button>
		</mat-list-item>

		<mat-list-item *ngIf="!room?.public && adminCurrent && !isUserCreator && isUserInRoom">
			<button mat-stroked-button color=warn (click)="kickUser()">Kick</button>
		</mat-list-item>

		<mat-list-item *ngIf="adminCurrent && !isUserCreator && !isUserBan">
			<button mat-stroked-button color=warn (click)="banUser()">Ban</button>
		</mat-list-item>

		<mat-list-item *ngIf="adminCurrent && !isUserCreator && isUserBan">
			<button mat-stroked-button color=warn (click)="unbanUser()">Unban</button>
		</mat-list-item>

		
		<mat-icon (click)="closeOption()">cancel</mat-icon>
	</mat-list>
</mat-card>
