/* Add these styles to your global styles or component-specific styles */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Full height of the viewport */
  }
  
  .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-bottom: 20px; /* Add margin to the grid */
  }
  
  .grid button {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
  }
  
  .game-board {
	position: relative;
	border: 1px solid #ccc;
	cursor: pointer;
	width: 65vh;
	height: 40vh;
	background-color: black;
	margin: 0 auto; /* Center the game board horizontally */
  }
  
  .center-line {
	/* Your center line styles remain the same */
  }
  
  .h-screen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .player-names {
	position: relative;
  }
  

  .player-name {
	position: absolute;
	font-size: 18px;
  }
  
  .left {
	left: 75px; /* Adjust the left position as needed */
  }
  
  .right {
	right: 75px; /* Adjust the right position as needed */
  }