<div class="h-screen grid place-items-center ">

<div class = grid>
	<button (click)="multiplayerRequest()"> Multiplayer </button>
	<button (click)="disconnect()"> Disconnect </button>
	<button (click)="log()"> Log </button>
</div>
<canvas #canvas width="1000" height="640" class="game-board">
	Fallback
</canvas>
<div id="playerNames" class="player-names">
	<div class="player-name left">{{ paddles[0].login }}</div>
	<div class="player-name right">{{ paddles[1].login }}</div>
</div>
<p *ngIf = "!isGameRunning"> Game Paused</p>
</div>